* {
    margin: 0 auto;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

.default-color {
    color: #FF5400;
}

/* Nav STart */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.logo {
    display: flex;
}

.logo h1 {
    font-size: 36px;
    font-weight: 800;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.ham-menu {
    font-size: 20px;
    font-weight: 800;
    display: none;
}



/* Responsive */
@media screen and (max-width: 600px) {
    .nav-menu {
        display: none;
    }

    .ham-menu {
        display: block;
    }

    .logo h1 {
        font-size: 25px;
    }
}