* {
    margin: 0 auto;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

.default-color {
    color: #FF5400;
}

.default-width {
    max-width: 1550px;
}

.common-btn {
    padding: 15px 25px;
    background-color: #FF5400;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 10px;
}



/* Nav STart */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.logo {
    display: flex;
}

.logo h1 {
    font-size: 36px;
    font-weight: 800;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.ham-menu {
    font-size: 25px;
    font-weight: 800;
    display: none;
}

/* banner */
.banner {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
}

.banner-layer {
    height: 600px;
    background-color: #000;
    opacity: 0.6;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.banner h1 {
    font-size: 64px;
    font-weight: 900px;
    color: white;
    text-align: center;
}

.banner p {
    line-height: 26px;
    color: white;
    text-align: center;
}

/* Popular Section */
.popular {
    padding: 100px 0px;
}

.popular-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.popular h2 {
    font-size: 40px;
}

.popular p {
    font-size: 16px;
    color: #131318;
    line-height: 26px;
    padding: 15px 0;
}

.popular-img {
    display: flex;
    justify-content: center;
}

/* Gallary */
.gallary {
    padding: 50px 10px;
}

.first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

/* Choose us Section */
.choose-us {
    padding: 50px 0;
}

.choose-us-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}


.choose-us-hotel {
    padding: 40px;
    background-color: #FFFBF7;
    border-radius: 10px;
}

.choose-us h3 {
    font-size: 24px;
    font-weight: 900;
    padding: 10px 0;
}

.choose-us p {
    font-size: 16px;
    line-height: 26px;
    color: #5A5A5D;
    padding: 10px 0;
}

.choose-us-map {
    background-color: #F4FCFE;
    padding: 40px;
    border-radius: 10px;
}

.choose-us-single-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 0px 10px;
}

/* Newsletter section */
.newsletter {
    padding: 40px 10px;
}

.newsletter-box {
    padding: 25px;
    border: 1px solid #FF5400;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter h3 {
    font-size: 24px;
    font-weight: 900;
    padding: 20px 0;
}

.newsletter p {
    font-size: 18px;
    line-height: 26px;
    padding: 20px 0;
}

.newsletter input {
    border: none;
    border-radius: 10px;
    background-color: #F3F3F3;
    color: #131318;
    padding: 20px 120px;
    margin-top: 20px;
}

.newsletter-btn {
    padding: 15px 160px;
    background-color: #FF5400;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 20px;
}

.newsletter-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */

footer {
    padding: 100px;
    background-color: #F3F3F3;
}

footer h1 {
    text-align: center;
}

footer p {
    font-size: 16px;
    line-height: 26px;
    color: #5A5A5D;
    text-align: center;
    padding-top: 20px;
}

.footer-logo {
    display: flex;
}

.footer-logo img {
    margin: 30px;
}

/* Responsive */
@media screen and (max-width: 1160px) {
    .newsletter-content {
        flex-direction: column;
        gap: 50px;

    }
}

@media screen and (max-width: 1100px) {
    .popular-content {
        flex-direction: column;
        gap: 50px;
    }

    .choose-us-content {
        flex-direction: column;
    }
}

@media screen and (max-width: 840px) {
    .nav-menu {
        display: none;
    }

    .ham-menu {
        display: block;
    }

    .logo h1 {
        font-size: 25px;
    }

    .logo img {
        width: 20%;
    }
}

@media screen and (max-width: 700px) {
    .banner h1 {
        font-size: 40px;
    }

    .banner p {
        font-size: 15px;
    }

    .popular img {
        width: 70%;
    }

    .newsletter-img img {
        /* display: none; */
        width: 60%;
    }

}